*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    background-color: rgb(41, 36, 36);
    position: relative;
}

h1{
    text-align: center;
    font-size: 70px;
    color: white;
    margin-top: 30px;
    padding: 30px;
    border-bottom: 2px solid white;
}

.button-div{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  padding-bottom: 30px;
}

.addBook{
    font-size: 30px;
    background-color: rgb(204, 59, 59);
    padding: 15px 10px;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.5s;
    color: white;
}

.addBook:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.shelf{
    display: grid;
    place-items: center;
    
}

.nav-bar{
    background-color: rgb(204, 59, 59);
    padding: 20px;
    width: 1000px;
    
}


.nav-bar nav ul {
    display: flex;
    justify-content: space-evenly;
}

.nav-bar nav ul li{
    list-style: none;
    color: white;
    font-size: 25px;
   
}


.book-container{
    display: flex;
    flex-direction: column;
    
}

.book-nav{
    padding: 20px;
    width: 1000px;
    background-color: white;
    color: black;
    border-bottom: 2px solid gray;
}

.book-nav nav ul{
    display: flex;
    justify-content: space-evenly;
    

}

.book-nav nav ul li{
    list-style: none;
    color: black;
    font-size: 25px;
    
}

select{
    font-size: 20px;
    
}

.delete-btn{
    font-size: 20px;
    background-color: rgb(204, 59, 59);
    color: white;
    font-weight: bold;
    border-radius: 5px;
    padding: 3px 5px;
    border: none;
    transition: 0.5s;
    
}

.delete-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.submit-form{
    background-color: white;
    padding: 30px;
    width: 500px;
    position: absolute;
    top: 20%;
    left: 35%;
    display: none;
    border-radius: 10px;
    
}

.exit-btn{
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px;
    margin: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.exit-btn:hover{
    cursor: pointer;
}

.submit-form h2{
    font-size: 30px;
    text-align: center;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    padding: 20px 0;
    
}

.input-text{
    display: flex;
    flex-direction: column;
    font-size: 30px;
}

.submit-btn{
    font-size: 20px;
    padding: 10px 10px;
    display: block;
    margin: 1rem auto;
    background-color: rgb(31, 30, 30);
    color: white;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
}

.submit-btn:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.input-text label{
    margin-top: 20px;
    margin-bottom: 10px;
    
}

.input-text input{
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    transition: 0.5s;
}



